<app-header></app-header>

<ion-content>

  <ion-label id="title" color="primary">Recherche : </ion-label>
  <ion-label id="keyword">{{ searchTerm }} </ion-label>

  <!--<ion-searchbar [(ngModel)]="searchTerm" (keydown.enter)="searchResult()"></ion-searchbar>-->
  
  <ion-list>
    <ion-label>ICI</ion-label>
    <ion-item *ngFor="let book of books">
      <ion-thumbnail slot="start">
        <img [src]="book.image" />
      </ion-thumbnail>
      <ion-list>
        <ion-text class="title">{{ book.title }}</ion-text>
        <ion-label class="author">{{ book.auteur }}</ion-label>
      </ion-list>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="./assets/book/Alice's Adventures in Wonderland.jpg" />
      </ion-thumbnail>
      <ion-list>
        <ion-text class="title" (click)="goToReader()">Alice's Adventures in Wonderland</ion-text>
        <ion-label class="author">Lewis Carroll</ion-label>
      </ion-list>
    </ion-item>
  </ion-list>

</ion-content>
