ion-list{
    padding-left: 10px;
    border-left: 8px solid var(--ion-border-color);
}
ion-label#title{
    display: inline-block;
    margin: 20px 0 0 20px;
    font-size: x-large;
    padding-left: 10px;
    border-left: 8px solid var(--ion-border-color);
}
ion-label#keyword{
    display: inline-block;
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
}