.motivation{
    display: inline-block;
    background-color: var(--ion-content-background-color);
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: x-large;
    font-family: Georgia, serif;
    padding-top: 80px;
}
ion-item {
    --padding-start: 10px;
    //--border-color:#0A3D62;
    border-bottom-width: 1px;
  }

@media (prefers-color-scheme: dark) {
ion-item {
    --ion-item-background: #1c1c1d;
}
}

  /* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.scrollpub img{
    width: 1000px;
    height: 200px;
    object-fit: cover;
    object-position: top;   
}
ion-icon.refresh{
    float: right;
}
ion-card-title{
    font-size: x-large;
}
ion-card-title.title{
    font-size: large;
}

ion-label.title{
    font-size:small;
    font-weight: bold;
}
ion-label.author{
    font-size: small;
}
ion-label.date{
    font-size: small;
}

ion-thumbnail {
    --border-radius: 5px;
  }