<app-header class="ion-no-border"></app-header>


<ion-content>
  <ion-label color="primary" class="motivation">
    " {{ slogan }} "
  </ion-label>
  
  <ion-card class="scrollpub">
    <ion-card-header>
      <ion-card-title  color="primary">One More Thing
        <ion-icon class="refresh" name="refresh-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <img src="./assets/book/Alice's Adventures in Wonderland.jpg" />
    <ion-card-header>
      <ion-card-title class="title" color="primary">Alice's Adventures in Wonderland</ion-card-title>
      <ion-card-subtitle>Lewis Carroll</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title  color="primary">New realised</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="./assets/book/Alice's Adventures in Wonderland.jpg" />
          </ion-thumbnail>
          <ion-list>
            <ion-label class="title">Alice's Adventures in Wonderland</ion-label>
            <ion-label class="author">Lewis Carroll</ion-label>
            <ion-label class="date">ddmmaa</ion-label>
          </ion-list>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="./assets/book/romeo and juliet.jpg" />
          </ion-thumbnail>
          <ion-list>
            <ion-label class="title">Romeo and Juliet</ion-label>
            <ion-label class="author">Lewis Carroll</ion-label>
            <ion-label class="date">ddmmaa</ion-label>
          </ion-list>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-list>
            <ion-label class="title">Book's Title</ion-label>
            <ion-label class="author">Lewis Carroll</ion-label>
            <ion-label class="date">ddmmaa</ion-label>
          </ion-list>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-list>
            <ion-label class="title">Book's Title</ion-label>
            <ion-label class="author">Lewis Carroll</ion-label>
            <ion-label class="date">ddmmaa</ion-label>
          </ion-list>
        </ion-item>

      </ion-list>

    </ion-card-content>
 
  </ion-card>

</ion-content>
