<app-header class="ion-no-border"></app-header>


<ion-content>
  <ion-label color="primary" class="motivation">
    " {{ slogan }} "
  </ion-label>
  
  <ion-card class="scrollpub">
    <ion-card-header>
      <ion-card-title  color="primary">One More Thing
        <ion-icon class="refresh" name="refresh-outline" (click)="refresh()"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <img [src]="randomBook.image"/>
    <ion-card-header>
      <ion-card-title class="title" color="primary">{{ randomBook.titre }}</ion-card-title>
      <ion-card-subtitle>{{ randomBook.auteur }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title  color="primary">New realised</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        
        <ion-item *ngFor="let book of books | slice:0:5">
          <ion-thumbnail slot="start">
            <img [src]="book.image"/>
          </ion-thumbnail>
          <ion-list>
            <ion-label class="title">{{ book.titre }}</ion-label>
            <ion-label class="author">{{ book.auteur }}</ion-label>
          </ion-list>
        </ion-item>
  
      </ion-list>

    </ion-card-content>
 
  </ion-card>

</ion-content>
